%h1 Listing tasks

%table
  %tr
    %th Name
    %th Description
    %th Start
    %th End
    %th Estimate
    %th Created by
    %th List
    %th User
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.description
      %td= task.start
      %td= task.end
      %td= task.estimate
      %td= task.created_by
      %td= task.list
      %td= task.user
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
