%h3 Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.check_box :remember_me
    = f.label :remember_me
    = f.submit "Sign in", class: "btn btn-success navbar-right"
    
  - if devise_mapping.rememberable?
    = link_to "Forgot your password?", new_password_path(resource_name)
    &nbsp;|&nbsp;
    = link_to "Sign up", new_registration_path(resource_name)
    